#body{
	background:DarkSlateBlue;
}

#anonymous_user{
	display:block;
	float:left;
	padding:20px;
	margin:30px;
	width:500px;
	height:430px;
	border:1px solid black;
	color:white;
	background:DarkSlateBlue;
	-webkit-border-radius:8px;
	border:2px solid black;
	background:skyblue;
}

#header{
	width:1220px;
	border:2px solid black;
	padding:10px;
	margin:10px;
	background:skyblue;
	text-align:right;
	font:20px simple Tahoma;
}

#head1{
	position:absolute;
	top:190px;
	left:50px;
	font:18px normal Tahoma;
}

#head2{
	position:absolute;
	top:250px;
	left:50px;
	font:18px normal Tahoma;
}

input[type="text"]{
	width:230px;
}

input[type="submit"]{
	width:90px;
	height:30px;
	color:black;
	border:1px solid black;
	-webkit-border-radius:8px;
	font:20px bold Tahoma;
	position:absolute;
	top:600px;
}

#complain{
	width:500px;
	height:300px;
	position:absolute;
	top:280px;
	left:50px;
	-webkit-border-radius:5px;
}

#subject{
	position:absolute;
	margin-top:15px;
	-webkit-border-radius:3px;
	top:203px;
	left:50px;
	width:350px;
	border:1px normal black;
}

p{
	position:absolute;
	top:600px;
	left:600px;
}

a:link,a:active{
   	text-decoration:none;
   	font:20px bold Tahoma;
}

a:hover{
  	font-weight: bolder;
}
a:visited{
   	color: white;
}